:root{
    --primaryColor: #fe206e;
    --mainFont: "Open Sans", sans-serif;
}
.text_primary{
    color: var(--primaryColor);
}
body{
    font-family: var(--mainFont);
}
.navbar .nav-link{
    color: #FFF;
}
.navbar .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--primaryColor);

}
.hero{
   background-image: url(./../img/hero/bg.jpg);
   background-size: cover ;
   background-position: center -100px;
}
.about, 
.portfolio{
    background-image: url(./../img/public/light_dot.jpg);
}
.portfolio .nav-tabs .nav-item.show .nav-link,
.portfolio .nav-tabs .nav-link.active{
    color: var(--primaryColor);
}
.portfolio .nav-link{
    color: #000;
}
.portfolio .nav-tabs .nav-link{
    border: none;
}
.portfolio .nav-tabs{
    border-bottom: none;
}